[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
structlog = "*"
gunicorn = "*"
sqlalchemy = "*"
retrying = "*"
psycopg2-binary = "*"
werkzeug = "*"
pyjwt = "*"
requests = "*"
tenacity = "*"
types-requests = "*"
requests-mock = "*"

[dev-packages]
black = "*"
isort = "*"
pytest = "*"
flake8 = "*"
mock-alchemy = "*"
pytest-mock = "*"
mypy = "*"
pytest-cov = "*"

[requires]
python_version = "3.11"
